---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
  class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
>
  <p>
  Me llamo Andrés Felipe Villa Calderón, Tecnólogo en Desarrollo de Software e Ingeniero en Sistemas en formación (9° semestre) en el ITM, Medellín.
  </p>

  <p>
    Desde niño me pregunté qué había detrás de cada aplicación. Esa curiosidad me llevó a ganar experiencia real: <strong>desarrollé módulos full stack para una aplicación usada en 5 sedes médicas</strong>, trabajando con React, Node.js, MySQL y Firebird. He colaborado en <strong>procesos de despliegue,puesta en producción</strong> y he participado en proyectos bajo metodología Scrum con equipos profesionales.
  </p>

  <p>
    También tengo experiencia en análisis de datos: <strong>manipulación y limpieza de datos, construcción de flujos ETL y análisis exploratorio (EDA)</strong> con Python (Pandas, NumPy, SciPy) y visualización en Power BI. Manejo bases de datos relacionales y no relacionales como <strong>SQL,MySQL,MongoDB y Firebase</strong>.
  </p>

  <p>
    He construido proyectos propios como <strong>una tienda online con Angular consumiendo una API REST</strong>, una aplicación React que permite buscar personajes del programa "Rick and Morty" y un juego de memoria con React conectado a la PokeAPI. Actualmente busco nuevas oportunidades en <strong>desarrollo de software, automatización de pruebas o análisis de datos</strong>.
  </p>
</div>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
